body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body.no-centering {
    display: block;
    justify-content: initial;
    align-items: initial;
    min-height: auto;
}

/* Global styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    display: flex; /* Center vertically and horizontally */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    min-height: 100vh; /* Make sure the page takes at least the viewport height */
}